# Godot-specific ignores
.import/

# Mono-specific ignores
.mono/
.vs/
mono_crash.*.json

# Mac
*.DS_Store

# Ignore just "build" in case someone wants to make their own version of "build.sh"
build

# Custom folders to ignore
Builds/

# macOS .DS_Store files
.DS_Store
